#popular {
  width: 50%;
  display: grid;
  overflow: scroll;
  background-color: rgb(250, 245, 245);
  justify-items: center;
  margin: auto;
  padding-bottom: 74px;
}

#popular img {
  display: grid;
  width: 25%;
  height: 75%;
  margin: auto;
}

img:hover {
  scale: 1.5;
}


#popular h4, h5, h6{
  display: grid;
  justify-items: center;
}
div #popularBtn  {
  display: grid;
  justify-items: center;
}

div {
  padding-bottom: 74px;
}

div #Main {
  padding-bottom: 0px;
}